<strong>Olá, {{deliveryman}} </strong>
<p>Houve um cancelamento de Entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Recipient:</strong> {{recipient}} <br/>
  <strong>Data/ Hora:</strong> {{date}} <br />
  <strong>Produto:</strong> {{product}} <br />
  <br />
  <small>
    sem mais para o momento
  </small>

</p>
