<strong>Olá, {{deliveryman}} </strong>
<p>Nova encomenda para entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente:</strong> {{recipient}} <br/>
  <strong>Data/ Hora:</strong> {{date}} <br />
  <strong>Produto:</strong> {{product}} <br />
  <br />
  <small>
    Aguardando retirada. Lembre-se ! das 8hs as 18hs
  </small>

</p>
